@using CMS.DataEngine
@using CMS.SiteProvider
@model Eurobank.Models.Application.RelatedParty.RelatedPartyModel
@using Kendo.Mvc.UI
@{
	ViewData["Title"] = "Related Party";
}

<div class="application-details">

	<div class="shadow-box">
		<h4>@ResHelper.GetString("Eurobank.Application.RelatedParty.PersonalDetails")</h4>
		<div id="validation-success" class="alert alert-success" role="alert"></div>
		<form asp-action="RelatedParty" class="row">
			@Html.HiddenFor(model => model.ApplicationNumber)


			@if(Model.PersonalDetails != null)
			{
				@Html.HiddenFor(model => model.PersonalDetails.Id)
				<div class="col-md-6">

					<div class="form-group">
						<label asp-for="PersonalDetails.Title" class="control-label">@ResHelper.GetString("Eurobank.Application.RelatedParty.PersonalDetails.Label.Title")</label>
						@(Html.Kendo().DropDownListFor(m => m.PersonalDetails.Title).BindTo((System.Collections.IEnumerable)ViewBag.PersonTitle)
	.OptionLabel(new { Text = ResHelper.GetString("Eurobank.General.DropDownList.Select"), Value = "" })
	.DataValueField("Value")
	.DataTextField("Text").HtmlAttributes(new { @class = "form-control" }))
						@Html.ValidationMessageFor(X => X.PersonalDetails.Title)
					</div>
					<div class="form-group">
						<label asp-for="PersonalDetails.FirstName" class="control-label">@ResHelper.GetString("Eurobank.Application.RelatedParty.PersonalDetails.Label.FirstName")</label>
						@Html.Kendo().TextBoxFor(model => model.PersonalDetails.FirstName).HtmlAttributes(new { @class = "form-control" })
						@Html.ValidationMessageFor(X => X.PersonalDetails.FirstName)
					</div>
					<div class="form-group">
						<label asp-for="PersonalDetails.LastName" class="control-label">@ResHelper.GetString("Eurobank.Application.RelatedParty.PersonalDetails.Label.LastName")</label>
						@Html.Kendo().TextBoxFor(model => model.PersonalDetails.LastName).HtmlAttributes(new { @class = "form-control" })
						@Html.ValidationMessageFor(X => X.PersonalDetails.LastName)
					</div>
					<div class="form-group">
						<label asp-for="PersonalDetails.FathersName" class="control-label">@ResHelper.GetString("Eurobank.Application.RelatedParty.PersonalDetails.Label.FathersName")</label>
						@Html.Kendo().TextBoxFor(model => model.PersonalDetails.FathersName).HtmlAttributes(new { @class = "form-control" })
						@Html.ValidationMessageFor(X => X.PersonalDetails.FathersName)
					</div>
					<div class="form-group">
						<label asp-for="PersonalDetails.Gender" class="control-label">@ResHelper.GetString("Eurobank.Application.RelatedParty.PersonalDetails.Label.Gender")</label>
						@(Html.Kendo().DropDownListFor(m => m.PersonalDetails.Gender).BindTo((System.Collections.IEnumerable)ViewBag.Gender)
	.OptionLabel(new { Text = ResHelper.GetString("Eurobank.General.DropDownList.Select"), Value = "" })
	.DataValueField("Value")
	.DataTextField("Text").HtmlAttributes(new { @class = "form-control" }))
						@Html.ValidationMessageFor(X => X.PersonalDetails.Gender)
					</div>
					<div class="form-group">
						<label asp-for="PersonalDetails.DateOfBirth" class="control-label">@ResHelper.GetString("Eurobank.Application.RelatedParty.PersonalDetails.Label.DateOfBirth")</label>
						@Html.Kendo().DatePickerFor(model => model.PersonalDetails.DateOfBirth).HtmlAttributes(new { @class = "form-control" })
						@Html.ValidationMessageFor(X => X.PersonalDetails.DateOfBirth)
					</div>
					<div class="form-group">
						<label asp-for="PersonalDetails.PlaceOfBirth" class="control-label">@ResHelper.GetString("Eurobank.Application.RelatedParty.PersonalDetails.Label.PlaceOfBirth")</label>
						@Html.Kendo().TextBoxFor(model => model.PersonalDetails.PlaceOfBirth).HtmlAttributes(new { @class = "form-control" })
						@Html.ValidationMessageFor(X => X.PersonalDetails.PlaceOfBirth)
					</div>
					<div class="form-group">
						<label asp-for="PersonalDetails.CountryOfBirth" class="control-label">@ResHelper.GetString("Eurobank.Application.RelatedParty.PersonalDetails.Label.CountryOfBirth")</label>
						@(Html.Kendo().DropDownListFor(m => m.PersonalDetails.CountryOfBirth).BindTo((System.Collections.IEnumerable)ViewBag.Country)
	.OptionLabel(new { Text = ResHelper.GetString("Eurobank.General.DropDownList.Select"), Value = "" })
	.DataValueField("Value")
	.DataTextField("Text").HtmlAttributes(new { @class = "form-control" }))
						@Html.ValidationMessageFor(X => X.PersonalDetails.CountryOfBirth)
					</div>
					<div class="form-group">
						<label asp-for="PersonalDetails.EducationLevel" class="control-label">@ResHelper.GetString("Eurobank.Application.RelatedParty.PersonalDetails.EducationLevel")</label>
						@(Html.Kendo().DropDownListFor(m => m.PersonalDetails.EducationLevel).BindTo((System.Collections.IEnumerable)ViewBag.Education)
	.OptionLabel(new { Text = ResHelper.GetString("Eurobank.General.DropDownList.Select"), Value = "" })
	.DataValueField("Value")
	.DataTextField("Text").HtmlAttributes(new { @class = "form-control" }))
						@Html.ValidationMessageFor(X => X.PersonalDetails.EducationLevel)
					</div>
					<div class="form-group">
						<div class="col-md-8">

						</div>
						<div class="col-md-4">
							<input type="submit" value="@ResHelper.GetString("Eurobank.Application.RelatedParty.Edit.Button.Submit")" class="btn btn-primary">
						</div>


					</div>
				</div>

			}

		</form>

	</div>

</div>