@model Eurobank.Models.Application.SignatureMandateIndividualModel
@using Kendo.Mvc.UI



<div class="form-group">
    <label asp-for="SignatoryPersons" class="control-label">@ResHelper.GetString("Eurobank.Application.SignatureMandateIndividual.Label.SignatoryPersons")</label>
    @(Html.Kendo().MultiSelectFor(X => X.SignatoryPersonsList)
			.AutoClose(false).DataValueField("Value")
.DataTextField("Text").HtmlAttributes(new { @class = "form-control" }).Placeholder(ResHelper.GetString("Eurobank.Application.SignatureMandateIndividual.Label.SignatoryPersons"))
		.BindTo((System.Collections.IEnumerable)ViewBag.SignatoryPersons)
		)
    @Html.ValidationMessageFor(X => X.SignatoryPersons)
</div>
<div class="form-group">
    <label asp-for="NumberOfSignatures" class="control-label">@ResHelper.GetString("Eurobank.Application.SignatureMandateIndividual.Label.NumberOfSignatures")</label>
    @Html.Kendo().TextBoxFor(model => model.NumberOfSignatures).HtmlAttributes(new { @class = "form-control" })
    @Html.ValidationMessageFor(X => X.NumberOfSignatures)

</div>
<div class="form-group">
    <label asp-for="AccessRights" class="control-label">@ResHelper.GetString("Eurobank.Application.SignatureMandateIndividual.Label.AccessRights")</label>
    @(Html.Kendo().DropDownListFor(m => m.AccessRights).BindTo((System.Collections.IEnumerable)ViewBag.AccessRights)
.OptionLabel(ResHelper.GetString("Eurobank.General.DropDownList.Select"))
.DataValueField("Value")
.DataTextField("Text").HtmlAttributes(new { @class = "form-control" }))
    @Html.ValidationMessageFor(X => X.AccessRights)
</div>
@*<div class="form-group">
    <label asp-for="AmountFrom" class="control-label">@ResHelper.GetString("Eurobank.Application.SignatureMandateIndividual.Label.AmountFrom")</label>
    @Html.Kendo().TextBoxFor(model => model.AmountFrom).HtmlAttributes(new { @class = "form-control" })
    @Html.ValidationMessageFor(X => X.AmountFrom)

</div>
<div class="form-group">
    <label asp-for="AmountTo" class="control-label">@ResHelper.GetString("Eurobank.Application.SignatureMandateIndividual.Label.AmountTo")</label>
    @Html.Kendo().TextBoxFor(model => model.AmountTo).HtmlAttributes(new { @class = "form-control" })
    @Html.ValidationMessageFor(X => X.AmountTo)

</div>*@
@Html.HiddenFor(x=>x.SignatoryPersonsValueString)
<script src="~/Scripts/Custom/Editor/AddEditSignatureMandateIndividual.js"></script>
