@model Eurobank.Models.Application.EBankingSubscriberDetailsModel
@using Kendo.Mvc.UI

<div class="form-group">
    <label asp-for="Subscriber" class="control-label"></label>
    @(Html.Kendo().DropDownListFor(m => m.Subscriber).BindTo((System.Collections.IEnumerable)ViewBag.Subscribers)
.OptionLabel("- Select - ")
.DataValueField("Value")
.Filter("startswith")
.DataTextField("Text").HtmlAttributes(new { @class = "form-control", onchange= "GetPersonType();FillSubscriberIdentity();" }))
    @Html.ValidationMessageFor(X => X.Subscriber)
</div>
<div class="form-group">
    <label asp-for="IdentityPassportNumber" class="control-label"></label>
    @Html.Kendo().TextBoxFor(model => model.IdentityPassportNumber).HtmlAttributes(new { @class = "form-control" })
    @Html.ValidationMessageFor(X => X.IdentityPassportNumber)

</div>
<div class="form-group">
    <label asp-for="CountryOfIssue" class="control-label"></label>
    @*@Html.Kendo().TextBoxFor(model => model.CountryOfIssue).HtmlAttributes(new { @class = "form-control" })*@
    @(Html.Kendo().DropDownListFor(m => m.CountryOfIssue).BindTo((System.Collections.IEnumerable)ViewBag.CountryIdentification)
.OptionLabel("- Select - ")
.DataValueField("Value")
.Filter("startswith")
.DataTextField("Text").HtmlAttributes(new { @class = "form-control" }))
    @Html.ValidationMessageFor(X => X.CountryOfIssue)

</div>
<div class="form-group">
    <label asp-for="AccessLevel" class="control-label"></label>
    @(Html.Kendo().DropDownListFor(m => m.AccessLevel).BindTo((System.Collections.IEnumerable)ViewBag.AccessLevels)
.OptionLabel("- Select - ")
.DataValueField("Value")
.DataTextField("Text").HtmlAttributes(new { @class = "form-control", onchange = "onchangeAccessLevel()" }))
    @Html.ValidationMessageFor(X => X.AccessLevel)
</div>
@Html.HiddenFor(x=>x.AccessLevelName)

<div class="form-group">
    <label asp-for="AccessToAllPersonalAccounts" class="control-label">@ResHelper.GetString("Eurobank.Application.Applicant.SignatoryGroup.Label.AccessToAllPersonalAccounts")</label>
    @(Html.Kendo().DropDownListFor(m => m.AccessToAllPersonalAccounts)
.OptionLabel("- Select - ")
.DataValueField("Value")
.DataTextField("Text").Events(e =>
{
	e.DataBound("onAllPersonalAccountDataBound");
}).HtmlAttributes(new { @class = "form-control" }).DataSource(source =>
{
	source.Read(read =>
	{
		read.Action("AccessToAllPersonalAccount_Read", "Applications");
	});
}))
    @Html.ValidationMessageFor(X => X.AccessToAllPersonalAccounts)
</div>
<div class="form-group" style="display:none" id="AutomaticallyAddFuturePersonalAccountsID">
	<label asp-for="AutomaticallyAddFuturePersonalAccounts" class="control-label">@ResHelper.GetString("Eurobank.Application.Applicant.SignatoryGroup.Label.AutomaticallyAddFuturePersonalAccounts")</label>
    @(Html.Kendo().DropDownListFor(m => m.AutomaticallyAddFuturePersonalAccounts).BindTo((System.Collections.IEnumerable)ViewBag.AutomaticallyAddFuturePersonalAccount)
.OptionLabel("- Select - ")
.DataValueField("Value")
.DataTextField("Text").HtmlAttributes(new { @class = "form-control" }))
    @Html.ValidationMessageFor(X => X.AutomaticallyAddFuturePersonalAccounts)
</div>


<div class="form-group">
    <label asp-for="LimitAmount" class="control-label"></label>
    @(Html.Kendo().DropDownListFor(m => m.LimitAmount)
.OptionLabel("- Select - ")
.DataValueField("Value")
.DataTextField("Text")
.DataSource(source =>
{
    source.Read(read =>
    {
        read.Action("LimitAmount_Read", "Applications");
    });
}).HtmlAttributes(new { @class = "form-control", @title = "The amount is maximum allowable limit. Moreover, ability to change the defaulted limit in the future." }))
    @Html.ValidationMessageFor(X => X.LimitAmount)
</div>
<script src="~/Scripts/Custom/Editor/AddEditEBankingSubscriberIndividual.js"></script>





