@model Eurobank.Models.ResetPasswordViewModel

@{
    ViewBag.Title = HtmlLocalizer["Reset password"].Value;
}
@{
    Layout = "~/Views/Shared/_Layout_LoginPage.cshtml";
    ViewData["PageClass"] = "inverted";
}
<div class="reset-password"> 
    <div class="row">
        <div class="col-12">
            <h1 class="mb-5">@HtmlLocalizer["Reset your password"]</h1>
            @*<div class="separator"></div>*@
            <div class="form-group-input">
                <div class="logon-page-background">
                    <div class="logon-panel">
                        <form asp-action="ResetPassword" method="post">
                            <div class="form-horizontal" role="form">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                @Html.HiddenFor(model => model.UserId)
                                @Html.HiddenFor(model => model.Token)

                                <div class="form-group">
                                    <div class="editing-form-label-cell">
                                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editing-form-value-cell">
                                        @Html.PasswordFor(model => model.Password, htmlAttributes: new { @class = "form-control w-100" })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="editing-form-label-cell">
                                        @Html.LabelFor(model => model.PasswordConfirmation, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editing-form-value-cell">
                                        @Html.PasswordFor(model => model.PasswordConfirmation, htmlAttributes: new { @class = "form-control w-100" })
                                        @Html.ValidationMessageFor(model => model.PasswordConfirmation, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <input type="submit" value="@HtmlLocalizer["Reset password"]" class="btn btn-primary w-100" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
